@{
    ViewData["Title"] = "Edukimi";
}
<a href="/files/" download class="download-cv-btn btn btn-primary pb-3">
    Download  Erodina's' <string>CV</string>
    <span class="material-icons">
        get_app
    </span>
</a>
<div class="text-center pt-15vh" id="first-Page-15vh">
    <div class="container">
        <h1 class="text-white mb-5">Edukimi dhe Projektet gjatë studimeve </h1>
        <div class="row">
            <ul class="timeline mt-5 col-lg-8 col-md-10 col-12 m-auto text-left">
                <li>
                    <h5>Bachelor në Shkenca Kompjuterike dhe Inxhinieri</h5>
                    <a target="_blank" href="https://www.sit.ac.nz/"><sup>UBT - Higher Education Institution, Prishtinë, Kosovë</sup></a>
                    <br />
                    <sup>Nov, 2019 ~ Active</sup>
                    <p>Aktualisht jam në vitin e fundit të Bachelor për Web Programim. Unë jam e fokusuar në programim, dizajn grafik, zhvillimin e aplikacioneve në internet. Rezultati im akademik aktualisht qëndron në nivel të lartë.</p>
                </li>
                <li>
                    <h5>Trajnimet</h5>

                    <p> Pjesë e trajnimeve para dhe gjatë studimeve, pjesë e dizajn grafikë dhe WordPress po ashtu së shpejti dhe marketing digjital.</p>


                </li>
            </ul>
        </div>
    </div>
</div>
<div class="text-center" id="second-Page">
    <div class="container vertical-middle pt-v-sm-20vh">
        <h1 class="text-white pb-3">Aftësitë në WebProgramim</h1>
        <div class="row mt-5">
            <ul class="timeline col-lg-4 col-md-6 col-8 m-auto text-left">
                <li>
                    <h5 class="pb-2">Gjuhët Programuese</h5>
                    <ul>

                        <li>HTML, CSS,Js</li>
                        <li>Bootstrap</li>
                        <li>SQL (mostly MySQL)</li>
                    </ul>
                </li>
                <li class="mt-5">
                    <h5 class="pb-2">Frameworks</h5>
                    <ul>
                        <li>Asp.Net FrameWork / Asp.Net Core</li>
                        <li>MVC (Model View Controller)</li>
                        <li>Entity Framework</li>
                        <li>Vue.js</li>
                    </ul>
                </li>


            </ul>
        </div>
    </div>
</div>

<div class="text-center" id="forth-Page">
    <div class="container vertical-middle pt-v-sm-20vh">
        <div class="pt-5">
            <div class="card mb-5 pb-5 bg-none m-auto border-0">

                <div class="card-body">

                </div>
            </div>
        </div>
    </div>
</div>

