@{
    ViewData["Title"] = "Projektet";
}
<div class="text-center pt-40vh" id="first-Page">
    <div class="container">
        <h5> Me tri vite studime kam bërë gjëra të ndryshme </h5>
        <h1 class="text-white">Projektet</h1>
        <p>Duke përfshirë <strong class="text-white">web aplikacionet</strong>, <strong class="text-white"></strong>, <strong class="text-white">databazë</strong> .Kryesisht kam bërë projekte si   <strong class="text-white"> back end developer</strong> dhe <strong class="text-white"> grafikë dizajnere </strong> brenda një ekipi për të ofruar një aplikacion cilësor, për të përmbushur kërkesat për projekte kursesh ose klientë realë. Përveç aftësive që kam mësuar nga trajnimet, gjithashtu, kam bërë shumë  <strong class="text-white">vetë-kërkime</strong> përsa i përket zhvillimit të aplikacioneve në ueb, sigurisë në ueb dhe vendosjes së kompjuterit në cloud, pasi unë me të vërtetë dëshiroj të jem një zhvilluese e plotë në të ardhmen..</p>
        <div class="text-center border-div-trigger w-80px m-auto pt-2">
            <a class="text-decoration-none" asp-controller="Ballina" asp-action="Contact">Email mua</a>
            <div class="border-div"></div>
        </div>
    </div>
</div>
<div class="text-center ml-5 mr-5" id="second-Page">
    <div class="container vertical-middle pt-v-sm-20vh">
        <h1 class="text-white pb-3">Web development</h1>
        <div class="row row-cols-1 row-cols-md-1 pt-5">
            <div class="card mb-5 bg-none">
                <div class="row no-gutters">
                    <div class="col-md-4 offset-md-0 col-8 offset-2">
                        <div class="vertical-middle-img" style="height: fit-content;">
                            <span class="position-absolute top-left"></span>
                            <span class="position-absolute top-right"></span>
                            <span class="position-absolute bottom-left"></span>
                            <span class="position-absolute bottom-right"></span>
                            <img src="/images/" class="card-img" alt="...">
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title text-white">Sistemi BookCrossing </h5>
                            <p class="card-text text-left">
                                Sistemi i menaxhimit të  librave BookCrossing
                            </p>
                            <p class="card-text text-left"> Një aplikacion ueb BookCrossing i përdorur për menaxhimin e  blerjev te librave i krijuar nga ASP.NET CORE. Një platformë menaxhimi e bazuar në ueb ku njerzit mund të  bëjne blerje të librave apo të huazojnë me qera. </p>

                            <div class="text-center border-div-trigger w-120px m-auto">
                                <a class="text-decoration-none" target="_blank" href="https://dev.azure.com/bookcrossingubt/Buy%20Books%20Online%20-%20BookCrossing">Shko tek AzureDevOps</a>
                                <div class="border-div"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="text-center ml-5 mr-5" id="forth-Page">
    <div class="container vertical-middle pt-v-sm-20vh">
        <h1 class="text-white pb-5">Databazë</h1>
        <div class="row row-cols-1 row-cols-md-1 pt-5">
            <div class="card mb-5 bg-none">
                <div class="row no-gutters">
                    <div class="col-md-4 offset-md-0 col-8 offset-2">
                        <div class="vertical-middle-img" style="height: fit-content;">
                            <span class="position-absolute top-left"></span>
                            <span class="position-absolute top-right"></span>
                            <span class="position-absolute bottom-left"></span>
                            <span class="position-absolute bottom-right"></span>
                            <img src="/images/CarRental_thumb.png" class="card-img" alt="...">
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title text-white">Databazë per  Renta Car </h5>
                            <p class="card-text text-left">Një projekt bazë të dhënash i krijuar kur isha në vitin e dytë të studimeve. Ku synonim  të plotësohej  kërkesat e një kompanie me qira të makinave për të menaxhuar bizneset e tyre të përditshme, duke përfshirë monitorimin e statusit të makinave, dhënien me qira dhe shitjet e makinave, rezervimin online, historinë e pretendimeve të sigurimit, menaxhimin financiar, etj.</p>
                            <div class="text-center border-div-trigger w-120px m-auto">
                                <div class="border-div"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="text-center ml-5 mr-5" id="fifth-Page">
    <div class="container vertical-middle pt-v-sm-20vh">
        <h1 class="text-white pb-5">React Js</h1>
        <div class="row row-cols-1 row-cols-md-1 pt-5">
            <div class="card mb-5 bg-none">
                <div class="row no-gutters">
                    <div class="col-md-4 offset-md-0 col-8 offset-2">
                        <div class="vertical-middle-img" style="height: fit-content;">
                            <span class="position-absolute top-left"></span>
                            <span class="position-absolute top-right"></span>
                            <span class="position-absolute bottom-left"></span>
                            <span class="position-absolute bottom-right"></span>
                            <img src="/images/" class="card-img" alt="...">
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title text-white">React Js Crud </h5>
                            <p class="card-text text-left">Projektë rreth aktiviteteve mujore i bërë  gjatë studimeve në semestrin e katërt. Editimi, fshirja dhe shtimi i krudave. </p>
                            <div class="text-center border-div-trigger w-120px m-auto">
                                <a class="text-decoration-none" target="_blank" href="https://github.com/dinasejdiu/Reactivites">Go to GitHub</a>
                                <div class="border-div"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="text-center ml-5 mr-5" id="sixth-Page">
    <div class="container vertical-middle pt-v-sm-20vh">
        <div class="mb-5 bg-none">
            <div class="row ">
                <div class="col-12 text-center pr-0">
                    <h5>
                        Shiko më shumë
                        <img src="/images/GitHub_Logo_White.png" class="pointer" alt="..." style="max-height:33px; width:auto" onclick="location.href='https://github.com/dinasejdiu'">
                    </h5>
                </div>
            </div>
        </div>
    </div>
</div>