
@{
    ViewData["Title"] = "RrethMeje";
}
<div class="text-center pt-20vh" id="first-Page-20vh">
    <div class="container">
 
        <h1 class="text-white text-huge pt-4">Erodina Sejdiu</h1>
        <p class="pt-3 w-75 m-auto">
            Un jam në vitin e fundit në Shkenca Kompjuterike dhe Inxhinieri - Web Programming
            un jam një programuese e cila e do programimin <strong class="text-white">duke hulumtuar</strong> dhe <strong class="text-white">duke avancuar</strong> aftësi të reja në SHKI
        </p>
        <div class="text-center border-div-trigger w-80px m-auto pt-2">
            <a class="text-decoration-none" asp-controller="Home" asp-action="Kontakti">Email Me</a>
            <div class="border-div"></div>
        </div>
    </div>
</div>
<div class="text-center" id="second-Page">
    <div class="container vertical-middle pt-v-sm-20vh">
        <h3>Unë jam  mirë në</h3>
        <h1 class="text-white">Web application development.</h1>
        <p class="pt-4 w-75 m-auto">
            Mundësia e hapur për teknologjitë më të avancuara të uebit krijon një zhvillues të plotë me potencial të madh.
            Lojtare e  ekipit me aftësi të forta komunikimi mund të përshtatet në ekipin dinamik të zhvillimit.
            Gjithashtu, një punëtor e pavarur e organizuar me aftësi të forta të menaxhimit të kohës.
        </p>
    </div>
</div>
<div class="text-center" id="third-Page">
    <div class="container vertical-middle pt-v-sm-20vh">
        <h1 class="pb-5 text-white">Më shumë rreth meje</h1>
        <div class="row pt-5">
            <div class="col-sm-8 offset-sm-2 offset-md-1 col-md-4 mb-4">
                <div class="card bg-none">
                    <span class="material-icons card-img-top pt-4 font-88px text-wheat">description</span>
                    <div class="card-body">
                        <h5 class="card-title text-white">Edukimi</h5>
                        <p class="card-text"> Për të marrë një ide të përgjithshme për arsimin tim, aftësitë e mia të mësuara deri tani, arritjet e kështu me radhë...</p>
                        <div class="text-center border-div-trigger w-80px m-auto">
                            <a class="text-decoration-none" asp-action="Edukimi" asp-controller="Home">Shiko më shumë</a>
                            <div class="border-div"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-8 offset-sm-2 offset-md-2 col-md-4 mb-4">
                <div class="card bg-none">
                    <span class="material-icons card-img-top pt-4 font-88px text-wheat">file_copy</span>
                    <div class="card-body">
                        <h5 class="card-title text-white">Projektet</h5>
                        <p class="card-text">Për të kuptuar nivelin e aftësive të mia në kodë.</p>
                        <div class="text-center border-div-trigger w-80px m-auto">
                            <a class="text-decoration-none" asp-action="Projektet" asp-controller="Home"> Shiko më shumë</a>
                            <div class="border-div"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
